:root {
    --background:   #282a36;
    --foreground:   #f8f8f2;
    --cyan:	    #8be9fd;
    --green:	    #50fa7b;
    --orange:	    #ffb86c;
    --pink:	    #ff79c6;
    --purple:	    #bd93f9;
    --red:	    #ff5555;
    --yellow:	    #f1fa8c;
}

body { 
    background: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color: var(--orange);
    font-size: 26px;
    text-align: left;
}

h1.header {
    color: var(--foreground);
    font-size: 36px;
    text-align: center;
}

a {
    color: var(--cyan);
}

a:link {
    color: var(--yellow);
}

a:visited {
    color: var(--purple);
}

p.credits {
    color: var(--green);
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
}

hr {
    border: 1px dashed;
}

